.u-section-1 .u-sheet-1 {
  min-height: 894px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 56px auto 0 460px;
}

.u-section-1 .u-form-1 {
  height: 124px;
  margin: 0 360px 0 389px;
}

.u-section-1 .u-table-1 {
  width: 546px;
  margin: 101px 283px 60px auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 379px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 260px;
    margin-left: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 290px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 150px;
    margin-left: 179px;
  }

  .u-section-1 .u-table-1 {
    margin-right: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: 99px;
    margin-left: 218px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -44px;
    margin-right: 60px;
    margin-left: 89px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: 134px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 137px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}