.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 124px;
  margin: 30px 728px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -53px 12px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-table-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: -287px 232px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 65px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-5 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 36px 232px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-6 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 30px 232px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-7 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 40px 232px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -189px 65px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 30px 65px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 40px 65px 0 auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 528px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 32px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 32px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 32px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 32px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 308px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-top: 6px;
    margin-right: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}