.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 60px;
}

.u-section-1 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  height: auto;
  margin: 31px auto 30px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 44px 44px;
  min-height: 629px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 7px;
}

.u-section-1 .u-text-2 {
  margin: 36px 23px 0 53px;
}

.u-section-1 .u-icon-1 {
  width: 100px;
  height: 100px;
  background-image: none;
  margin: -138px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 23px;
  height: 23px;
  background-image: none;
  margin: -62px auto 0 53px;
}

.u-section-1 .u-text-3 {
  margin: -25px 391px 0 76px;
}

.u-section-1 .u-text-4 {
  margin: -25px 0 0 467px;
}

.u-section-1 .u-text-5 {
  margin: 90px 0 0 auto;
}

.u-section-1 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-6 {
  margin: -24px auto 0 53px;
}

.u-section-1 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 7px;
}

.u-section-1 .u-text-7 {
  margin: 36px 23px 0 53px;
}

.u-section-1 .u-icon-5 {
  width: 100px;
  height: 100px;
  color: rgb(255, 72, 4) !important;
  margin: -138px auto 0;
}

.u-section-1 .u-icon-6 {
  width: 23px;
  height: 23px;
  background-image: none;
  margin: -62px auto 0 53px;
}

.u-section-1 .u-text-8 {
  margin: -25px 391px 0 76px;
}

.u-section-1 .u-text-9 {
  margin: -25px 0 0 467px;
}

.u-section-1 .u-text-10 {
  margin: 90px 0 0 auto;
}

.u-section-1 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-11 {
  margin: -24px auto 0 53px;
}

.u-section-1 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 7px;
}

.u-section-1 .u-text-12 {
  margin: 36px 23px 0 53px;
}

.u-section-1 .u-icon-9 {
  width: 100px;
  height: 100px;
  color: rgb(255, 72, 4) !important;
  margin: -138px auto 0;
}

.u-section-1 .u-icon-10 {
  width: 23px;
  height: 23px;
  background-image: none;
  margin: -62px auto 0 53px;
}

.u-section-1 .u-text-13 {
  margin: -25px 391px 0 76px;
}

.u-section-1 .u-text-14 {
  margin: -25px 0 0 467px;
}

.u-section-1 .u-text-15 {
  margin: 90px 0 0 auto;
}

.u-section-1 .u-icon-11 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-16 {
  margin: -24px auto 0 53px;
}

.u-section-1 .u-icon-12 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-1 .u-text-17 {
  margin: 36px 23px 0 53px;
}

.u-section-1 .u-icon-13 {
  width: 100px;
  height: 100px;
  margin: -138px auto 0;
}

.u-section-1 .u-icon-14 {
  width: 23px;
  height: 23px;
  background-image: none;
  margin: -62px auto 0 53px;
}

.u-section-1 .u-text-18 {
  margin: -25px 391px 0 76px;
}

.u-section-1 .u-text-19 {
  margin: -25px 0 0 467px;
}

.u-section-1 .u-text-20 {
  margin: 90px 0 0 auto;
}

.u-section-1 .u-icon-15 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-21 {
  margin: -24px auto 0 53px;
}

.u-section-1 .u-icon-16 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-7 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 350px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 385px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 350px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 385px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 350px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 385px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 350px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 385px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 185px;
  }
}