
.tipoVuelo{
  background: rgba(255,255,255, 0.9);
  border: none;
  text-align: center;
}
.ciudad{
    height: 100px;
    text-align: center;
    font-size: 38px;
    background: rgba(255,255,255,0.7);
    border: 0;
}
.u-section-1 .u-text-1 {
  margin: 0 auto 0 433px;
}



@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 357px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-2 {
    height: 67px;
    margin: -85px 159px 0 369px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 273px;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 49px;
    margin-left: 259px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 433px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 71px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-form-group-2 {
    margin-top: -84px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
    margin-top: -32px;
    margin-bottom: 50px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 484px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: -82px;
    margin-bottom: 60px;
    margin-left: 400px;
  }
}