input[id^="spoiler"]{
    display: none;
   }
   input[id^="spoiler"] + label {
     display: inline-block;
     
     margin: 0 auto;
     padding: 5px 20px;
     background: #ff4804;
     color: #fff;
     text-align: center;
     font-size: 18px;
     border-radius: 4px;
     cursor: pointer;
     transition: all .6s;
   }
   input[id^="spoiler"]:checked + label {
     color: #333;
     background: #ccc;
   }
   input[id^="spoiler"] ~ .spoiler {
     width: 90%;
     height: 0;
     overflow: hidden;
     opacity: 0;
     margin: 10px auto 0; 
     padding: 10px; 
     background: #eee;
     border: 1px solid #ccc;
     border-radius: 8px;
     transition: all .6s;
   }
   input[id^="spoiler"]:checked + label + .spoiler{
     height: auto;
     opacity: 1;
     padding: 10px;
   }

   .puntuacion {
    text-align: center;
    color: #aaa;
    font-size: 28px;
}
span.star.light {
  color: #ff4804;
}
span.origen {
  background: #fef9e6;
}
/* Reseñas*/
.review-header div {
  width: 33.3%;
  float: left;
}

.review-stars {
  font-size: 30px;
  color: #b6b6b6;
}

.review-flight {
  background: url('images/user.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 26px;
  font-size: 14px;
  float: left;display: flex;
  align-items: center;
  
}
.review-date {
  background: url('images/calendar.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 23px;
  font-size: 14px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: right;
  background-size: 16px;
}
.review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.contenedor-reviews{
  background-color: rgba(255,255,255, 0.7);
  padding: 20px 35px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 20px;
}
.review-body{text-align: left;}

.review-pilots {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  padding-left: 20px;
  display: inline-block;
  background: url('images/plane.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 18px;
}

.titulo-review {
  margin-bottom: 0!important;
}
.subtitulo-review{
  margin:0!important;
  text-align: center;
  display: block;
}
.fecha-vuelo.review{
  display: inline-block;
  text-align: center;
}

input.fecha-vuelo-review {
  text-align: center;
  width: 100%;
  padding-left: 40px;
  background: none;
  border: none;
  display: inline-block;
  
}

.fecha-v-review input:focus{
  outline: none;
}

