.u-section-1 .u-sheet-1 {
  min-height: 1053px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  width: 625px;
  margin: 9px auto 0;
}

.u-section-1 .u-table-1 {
  width: 400px;
  margin: 80px auto 0 351px;
}

.u-block-aa5e-87 {
  height: 46px;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 400;
}

.u-block-aa5e-102 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 87px 103px 0 auto;
  padding: 8px 52px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 16px 102px 0 auto;
  padding: 8px 51px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 17px 103px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 343px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -403px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-1 {
    margin-left: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -8px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 197px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -361px;
    margin-left: 140px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 4px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
    margin-right: 124px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: -398px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 5px;
  }
}