.u-section-1 .u-sheet-1 {
  min-height: 696px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 0;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 0 43px;
}

.u-section-1 .u-text-4 {
  margin: 16px auto 0 360px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 25px 435px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 126px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 126px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-top: 205px;
    margin-right: 343px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -37px;
    margin-left: 297px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 85px;
    margin-right: 235px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 227px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-top: 227px;
    margin-right: 197px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -59px;
    margin-left: 170px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 124px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -110px;
    margin-left: 107px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 136px;
  }
}