.u-section-1 {
  background-image: url("images/airplane.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 798px;
  min-height: 568px;
  background-image: none;
  margin: 112px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 28px 12px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 49px;
}

.u-section-1 .u-text-2 {
  width: 525px;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-weight: 700;
  margin: 5px 172px 0 164px;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(255, 167, 84) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(255, 167, 84) !important;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  width: 322px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 117px;
  width: 378px;
  margin: 16px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 3.75rem;
  font-style: italic;
  width: 534px;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 133px;
    margin-left: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 520px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 61px;
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    width: 340px;
  }
}