/*arreglos Nicolay*/
.izquierda{
  width: calc(48% - 60px);
  float: left;
  margin: 10px;
  padding: 5px;

}

#bordered{
  border: 3px solid black;
  border-radius: 10px;
}
/*.bg-img{
  background: url("images/airplane.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.u-section-1 {
  background-image: url("images/airplane.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 1162px;
  background-image: none;
  margin: 16px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 6px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 9px 23px 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 50px 23px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 16px 23px 0;
}

.u-section-1 .u-form-1 {
  height: 658px;
  width: 552px;
  margin: 31px 7px 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 400;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 400;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 400;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 400;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 400;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 400;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 400;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 400;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 400;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 400;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-weight: 400;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-weight: 400;
}

.u-section-1 .u-input-12 {
  font-size: 1.125rem;
  line-height: 2;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 11px 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -612px 40px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 66px 40px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  line-height: 1.2;
  margin: -312px 79px 0 652px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 3.75rem;
  font-style: italic;
  margin: 47px 47px 0 620px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  margin: -1004px 24px 0 597px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 72px 164px 0 auto;
  padding: 15px 40px;
}

.u-section-1 .u-image-1 {
  width: 492px;
  height: 288px;
  margin: 56px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 470px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-10 {
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-11 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 531px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 467px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 421px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 311px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 247px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 131px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 67px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}