<header class="u-clearfix u-header u-header" id="sec-d507"><div class="u-clearfix u-sheet u-sheet-1">
<nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" style="z-index: 999;">
    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
      <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-nav u-unstyled u-nav-1">
        {% if 'idUser' not in session %}
        <li class="u-nav-item"><a href="{{url_for('registrarse')}}"class="u-button-style u-nav-link u-white">Registrarse</a>
        </li>
        <li class="u-nav-item"><a href="{{url_for('ingresar')}}"class="u-button-style u-nav-link u-white">Ingresar</a>
        </li>
        {% endif %}
        {% if session and 'idUser' in session%}
        <li class="u-nav-item"><a href="{{url_for('salir')}}"class="u-button-style u-nav-link">Salir</a>
        </li>
        {% endif %}
          {% if session and session['rol'] == 3 %}
          <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">Administración</a>
            <div class="u-nav-popup">
                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                    <li class="u-nav-item"><a href="{{url_for('gestionvuelos')}}"class="u-button-style u-nav-link u-white">Gestionar vuelos</a>
                    </li>
                    <li class="u-nav-item"><a href="{{url_for('crearvuelo')}}"class="u-button-style u-nav-link u-white">Crear nuevo vuelo</a>
                    </li>
                    <li class="u-nav-item"><a href="{{url_for('gestionusuarios')}}"class="u-button-style u-nav-link u-white">Gestionar usuarios</a>
                    </li>
                    <li class="u-nav-item"><a href="{{url_for('crearusuario')}}"class="u-button-style u-nav-link u-white">Crear nuevo usuario</a>
                    </li>
            </ul>
            </div>
          </li>
          {% endif %}
          <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">Vuelos</a>

            <div class="u-nav-popup">
                <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                    <li class="u-nav-item"><a href="{{url_for('buscarvuelo')}}"class="u-button-style u-nav-link u-white">Buscar y reservar</a>
                    </li>
                    <li class="u-nav-item"><a href="{{url_for('consultarvuelo')}}"class="u-button-style u-nav-link u-white">Consultar estado</a>
                    </li>
                    {% if session and 'idUser' in session%}
                    <li class="u-nav-item"><a href="{{url_for('misvuelos')}}"class="u-button-style u-nav-link u-white">Mis reservas</a>
                    </li>
                    {% endif %}
                   
            </ul>
            </div>
          </li>
          <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{{url_for('paginaprincipal')}}" style="padding: 10px 20px;">Página principal</a>
        </li>
        
</ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
        <div class="u-inner-container-layout u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul class="u-nav u-unstyled u-nav-1">
            {% if session and session['rol'] == 3 %}
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">Administración</a>
              <div class="u-nav-popup">
                  <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                      <li class="u-nav-item"><a href="{{url_for('gestionvuelos')}}"class="u-button-style u-nav-link u-white">Gestionar vuelos</a>
                      </li>
                      <li class="u-nav-item"><a href="{{url_for('crearvuelo')}}"class="u-button-style u-nav-link u-white">Crear nuevo vuelo</a>
                      </li>
                      <li class="u-nav-item"><a href="{{url_for('gestionusuarios')}}"class="u-button-style u-nav-link u-white">Gestionar usuarios</a>
                      </li>
                      <li class="u-nav-item"><a href="{{url_for('crearusuario')}}"class="u-button-style u-nav-link u-white">Crear nuevo usuario</a>
                      </li>
              </ul>
              </div>
            </li>
            {% endif %}
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">Vuelos</a>
  
              <div class="u-nav-popup">
                  <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2">
                      <li class="u-nav-item"><a href="{{url_for('buscarvuelo')}}"class="u-button-style u-nav-link u-white">Buscar y reservar</a>
                      </li>
                      <li class="u-nav-item"><a href="{{url_for('consultarvuelo')}}"class="u-button-style u-nav-link u-white">Consultar estado</a>
                      </li>
                      {% if session %}
                      <li class="u-nav-item"><a href="{{url_for('misvuelos')}}"class="u-button-style u-nav-link u-white">Mis reservas</a>
                      </li>
                      {% endif %}
                     
              </ul>
              </div>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{{url_for('paginaprincipal')}}" style="padding: 10px 20px;">Página principal</a>
          </li>
          
  </ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav>

  <p class="u-text u-text-default u-text-1">
    <font color="#f1c50e">AEROPUERTO ALFONSO </font>
    <span class="u-text-palette-2-base">LÓPEZ </span>
    <font color="#f1c50e"></font>
    <span class="u-text-palette-1-base">PUMAREJO</span>
  </p>
</div></header>