.u-section-1 {
  background-image: url("images/airplane.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1298px;
}

.u-section-1 .u-group-1 {
  min-height: 1152px;
  margin-top: 16px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 23px;
}

.u-section-1 .u-form-1 {
  height: 754px;
  width: 1073px;
  margin: 16px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 400;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 400;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 400;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 400;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 400;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 400;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 400;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 400;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 11px 30px;
}

.u-section-1 .u-table-1 {
  width: 959px;
  margin: 9px auto 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-block-0a6a-114 {
  height: 46px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 45px auto 0 133px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 168px 0 auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
  }

  .u-section-1 .u-form-group-9 {
    margin-top: 20px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}